div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}
.axis path, .axis line {
    fill: none;
    stroke: #333;
}
.axis .grid-line {
    stroke: #000;
    stroke-opacity: 0.2;
}
.axis text {
    font: 9px Verdana;
    text-anchor:middle;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #90A4AE;
    padding: 1em 0.5em;
    text-align: left;
}

td {
    padding: 0.5em 0 0 0.5em;
}
tr:nth-of-type(2n) {
    background-color: #ECEFF1;
}