<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/card.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body id="body">

    <div id="app">
        <header>
        	<div>
            	<button @click="show = !show">
                	<i class="ion-navicon"></i>
            	</button>
            	ALAN-Energy
            </div>
        </header>
        <aside v-show="show" transition="slide">
        	<button onclick="location.href='/requests'" type="button" class="btn btn-primary btn-lg btn-block">Заявки</button>
            <button onclick="location.href='/admin'" type="button" class="btn btn-primary btn-lg btn-block">Объекты</button>
        	<button onclick="location.href='/dashboard'" type="button" class="btn btn-primary btn-lg btn-block">Дашборд</button>
            <button onclick="location.href='/logout'" type="button" class="btn btn-primary btn-lg btn-block">Выход</button>
        </aside>

        <div class="card-deck">

            <div class="row" style="margin-left: 30px; margin-right: 30px; margin-top:100px" id="row-card">

            </div>

        </div>


    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                show: false
            }
        })

    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/js/admin_obj_json.js"></script>
</body>
</html>
